[class^="icon-"], [class*=" icon-"]{
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.icon-phone{
	width: 13px;
	height: 13px;
	background: url(../img/icons/phone.png) no-repeat center center;
}

.icon-bell{
	width: 17px;
	height: 19px;
	background: url(../img/icons/bell.png) no-repeat center center;
}

.icon-bell-white{
	width: 17px;
	height: 19px;
	background: url(../img/icons/bell-white.png) no-repeat center center;
}

.icon-clock{
	width: 16px;
	height: 16px;
	background: url(../img/icons/clock.png) no-repeat center center;
}

.icon-youtube{
	width: 42px;
	height: 50px;
	background: url(../img/icons/youtube.png) no-repeat center center;
}

.icon-search{
	width: 16px;
	height: 16px;
	background: url(../img/icons/search.png) no-repeat center center;
}

.icon-location{
	width: 12px;
	height: 16px;
	background: url(../img/icons/location.png) no-repeat center center;
}

.icon-email{
	width: 16px;
	height: 16px;
	background: url(../img/icons/email.png) no-repeat center center;
}