.logo{
	display: flex;
	transition: all $t;
	align-items: center;

	img{
		display: block;
		max-width: 100%;
		height: auto;
	}

	&:hover{
		opacity: .8;
	}

	@media screen and (max-width: 1199px){
		max-width: 120px;
	}
}