.projects-slider{
	.slick-arrow{
		&.slick-prev{
			left: -100px;
		}

		&.slick-next{
			right: -100px;
		}

		@media screen and (max-width: 1399px){
			&.slick-prev{
				left: -50px;
			}

			&.slick-next{
				right: -50px;
			}
		}
	}

	.slide{
		&:not(.slick-active) .project-card{
			box-shadow: none;
		}
	}

	@media screen and (max-width: 575px){
		width: calc(100% + 30px);

		.slick-arrow{
			top: 100%;

			&.slick-prev{
				left: 15px;
			}

			&.slick-next{
				right: 15px;
			}
		}
	}

	@media screen and (min-width: 1200px) and (max-width: 1329px),
		   screen and (min-width: 992px) and (max-width: 1140px),
		   screen and (min-width: 768px) and (max-width: 890px),
		   screen and (min-width: 575px) and (max-width: 600px){
		width: calc(100% - 100px);
		margin-left: auto;
		margin-right: auto;
	}
}