.radio-box{
	input{
		display: none;

		+ label{
			display: flex;
			flex-direction: column;
			align-items: center;
			cursor: pointer;

			.box-image{
				padding: 2px;
				border-radius: $r;
				border: 3px solid transparent;
				margin-bottom: 15px;
				transition: all $t;
				position: relative;

				&:after{
					content: '';
					display: block;
					width: 49px;
					height: 50px;
					background: url(../img/checked.png) no-repeat;
					transform-origin: center center;
					transition: all $t;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%) scale(0);
				}

				img{
					display: block;
					width: 100%;
					height: auto;
				}
			}

			.box-name{
				text-align: center;
				text-transform: uppercase;
				font-weight: bold;
				color: $text-dark;
				font-size: 13px;
				line-height: 20px;
			}
		}

		&:checked{
			+ label{
				.box-image{
					border-color: #3fd240;

					&:after{
						transform: translate(-50%, -50%) scale(1);
					}
				}
			}
		}
	}
}

.radio-list{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: calc(100% + 44px);
	margin-left: -22px;
	margin-right: -22px;
	margin-bottom: -44px;

	> .item{
		padding: 0 22px;
		max-width: calc(285px + 44px);
		margin-bottom: 44px;
	}
}