.about-section{
	background: url(../img/backgrounds/about-bg.jpg) no-repeat center center;
	background-size: cover;
	padding: 110px 0 50px;

	.section-inner{
		display: flex;
		margin-bottom: 110px;

		.section-slider{
			width: 50%;
		}

		.section-content{
			padding-left: 45px;
			padding-right: 15px;
		}
	}

	@media screen and (max-width: 991px){
		.section-inner{
			flex-direction: column;
			align-items: center;

			.section-slider{
				width: 100%;
				max-width: 510px;
			}

			.section-content{
				padding-left: 0;
				padding-right: 0;
				padding-top: 30px;
			}
		}
	}
}

.about-slider-wrapper{
	margin-top: -50px;
	padding: 55px;
	border-radius: 50%;
	border: 1px solid rgba(#000, .05);
	position: relative;

	&:before{
		content: '';
		display: block;
		width: calc(100% - 60px);
		height: calc(100% - 60px);
		border: 1px solid rgba(#000, .09);
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
	}

	@media screen and (max-width: 991px){
		margin-top: 0;
	}
}

.about-slider{
	position: relative;
	z-index: 5;
	border-radius: 50%;
	border: 10px solid #fff;
	box-shadow: 0 10px 40px rgba(#000, .07);

	.slick-list{
		border-radius: 50%;
		overflow: hidden;
	}

	.slide{
		img{
			display: block;
			width: 100%;
			height: auto;
			border-radius: 50%;
		}
	}
}