.about-production-section{
	margin-top: -16px;
	padding-top: 161px;
	background: url(../img/backgrounds/ground-bg.jpg) no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	border-radius: 0 0 16px 16px;
	height: 350px;

	&:after{
		content: '';
		display: block;
		width: calc(100% - 28px);
		height: 75px;
		background: url(../img/backgrounds/ground-bg.jpg) no-repeat center center;
		background-attachment: fixed;
		background-size: cover;
		display: block;
		position: absolute;
		top: 100%;
		left: 14px;
		clip-path: polygon(100% 0, 0 0, 50% 100%);
	}

	.features-list{
		position: relative;
		z-index: 10;
	}

	.section-caption{
		margin-bottom: 50px;
	}
}