.clutch-section{
	background: #0a6493;
	padding: 75px 0 50px;

	&:after{
		background: #0a6493;
	}

	.section-clutch-image{
		display: table;
		margin: 50px auto 30px;

		@media screen and (max-width: 400px){
			width: 100%;
		}
	}
}