.construction-section{
	padding: 65px 0;
	background: $blue;
	position: relative;

	.background-image{
		display: block;
		width: 103%;
		height: 103%;
		position: absolute !important;
		top: 0;
		left: 50%;
		transform: translateX(-50%) !important;

		.parallax-layer{
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 110%;
		}
	}
}