.video-section{
	padding: 70px 0 90px;
	box-shadow: 0 10px 40px rgba(#000, .07);
	background: #fff;
	position: relative;

	.container{
		position: relative;
		z-index: 2;
	}

	.background-image{
		display: block;
		width: 103%;
		height: 103%;
		position: absolute !important;
		top: 0;
		left: 50%;
		transform: translateX(-50%) !important;

		.parallax-layer{
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 110%;
		}
	}

	.section-caption{
		margin-bottom: 40px;
	}

	.section-inner{
		display: flex;
		width: 100%;
		justify-content: space-between;

		.section-content{
			width: 300px;
			flex: none;
			margin-right: 30px;
			padding-top: 70px;
		}

		.section-video{
			width: calc(100% - 330px);
			max-width: 767px;
		}
	}

	@media screen and (max-width: 991px){
		.section-inner{
			flex-direction: column-reverse;

			.section-video{
				width: 100%;
			}

			.section-content{
				width: 100%;
				margin-right: 0;
			}
		}
	}
}

.video-tabs-nav{
	counter-reset: video;
	margin-bottom: 70px;

	&:last-child{
		margin-bottom: 0;
	}

	li{
		counter-increment: video;
		position: relative;
		font-size: 22px;
		line-height: 30px;
		padding: 10px 0;
		position: relative;
		font-weight: bold;
		text-transform: uppercase;
		transition: all $t;
		cursor: pointer;
		color: $text-dark;

		&:before{
			content: counter(video);
			display: inline-block;
			width: 45px;
		}

		&:after{
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			background: linear-gradient(to right, #d3d3d3 0%, #c2c2c2 55%, #fff 100%);
			position: absolute;
			left: 0;
			bottom: 0;
		}

		&:hover{
			color: $primary;
		}

		&.current{
			color: $primary;
			cursor: default;
		}
	}
}

.subscribe-to-youtube{
	display: flex;
	align-items: center;

	span{
		color: $text-dark;
		font-size: 17px;
		line-height: 26px;
		text-decoration: underline;
		margin-right: 20px;
		display: block;
		transition: all $t;
	}

	i{
		display: block;
	}

	&:hover{
		span{
			color: $red;
		}
	}
}